<div id="<%= dom_id(discussion) %>">
  <h2><%= link_to discussion.name, discussion %></h2>
  Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %>
  <div>
    <%= link_to "Edit", edit_discussion_path(discussion) %> |
    <%= button_to "Delete", discussion_path(discussion), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
  </div>
</div>