<%= turbo_stream_from 'discussions' %>

<h1 class="text-4xl font-bold">Discussions</h1>

<div class="flex pt-2">
  <div style="padding-right: 180px;">
    <%= turbo_stream_from 'categories' %>
    <h5 class="font-bold text-1xl">Categories</h5>
    <div id="categories">
      <%= render(partial: "categories/category", collection: Category.sorted) %>
    </div>
  </div>

  <div>
    <div id="discussions">
      <%= render @discussions %>
    </div>
    <button class="orange-button">  
      <%= link_to "New Discussion", new_discussion_path %>
    </button>
  </div>
</div>

