<%= turbo_stream_from @discussion %>

<%= render(partial: "discussions/header", locals: { discussion: @discussion }) %>

<div id="posts" class="mt-4">
  <%= render partial: "discussions/posts/post", collection: @posts %>
</div>

<hr class="divide-y divide-solid">

<%= turbo_frame_tag "discussion_notification_status" do %>
  <%= render("discussions/notifications/status", discussion: @discussion, user: Current.user) %>
<% end %>

<div id="<%= dom_id(@new_post) %>">
  <%= render("discussions/posts/form", post: @new_post) %>
</div>