<%= turbo_frame_tag "#{dom_id(post)}_form", target: "_top" do %>
  <% if post.discussion.closed? && post.new_record? %>
    <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
      <div>
        <span class="font-medium">This discussion is currently locked and new comments cannot be posted.</span>
      </div>
    </div>
  <% else %>
    <%= form_with(model: [post.discussion, post]) do |form| %>
      <% if post.errors.any? %>
        <%= render partial: "shared/form_errors", locals: { object: form.object } %>
      <% end %>

      <div class="mt-1">
        <%= form.label :body, class: "hidden" %>
        <%= form.rich_text_area :body, placeholder: "Add your comment", autofocus: true %>
      </div>

      <button class="orange-button mt-2">
        <%= form.submit "Comment" %>
      </button>
    <% end %>
  <% end %>
<% end %>