<nav class="relative container mx-auto p-6">
  <div class="flex items-center justify-between">
    <div class="pt-2">
      <%= image_tag 'hexdevs_logo_transparent.png', class: "mx-auto h-12 w-auto" %>
    </div>
    <div class="hidden md:flex space-x-6">
      <%= link_to "Discussions", discussions_path, class: "hover:text-darkGrayishBlue" %>
      <%= link_to "Categories", categories_path, class: "hover:text-darkGrayishBlue" %>
      <%= link_to "Notifications", notifications_path, class: "hover:text-darkGrayishBlue" %>
      <% if current_user %>
        <%= link_to Current.user.username, account_path, class: "hover:text-darkGrayishBlue" %>
        <%= button_to "Sign out", logout_path, method: :delete, class: "hover:text-darkGrayishBlue" %>
      <% else %>
        <%= link_to "Sign up", sign_up_path, class: "hover:text-darkGrayishBlue" %>
        <%= link_to "Login", login_path, class: "hover:text-darkGrayishBlue" %>
      <% end %>
    </div>
    <%= link_to "Post a Discussion", new_discussion_path, class: "hidden p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight md:block" %>
  </div>
</nav>